body {
    font-family: sans-serif;
}
header {
 background-color:Aqua ;

}
.inf{
background-color:white;    
}

.podr{
    
background-color: lawngreen;

}

body {
    font-family: sans-serif;
}
header {
 background-color:Aqua ;

}
.inf{
background-color:white;    
}

.podr{
    
background-color: lawngreen;

}
.kk{

background-color: rgb(197, 143, 179);
}

.optom{
   background-color: Yellow; 

}

.o_komp{
    
    background-color: Fuchsia;
}

h1{

    color: Orange;
    background-color: white;}
footer{
        background-color:SlateBlue ;
    }

.xlopushki{
    background-color: SpringGreen;}

.petard{
    background-color: SpringGreen;

}
.fontan{
   background-color: SpringGreen;
 
}
.f_sar{
   background-color: SpringGreen;
  
}
h2{
    color: darkviolet;

}
.konekt{
    border:5px solid;
color: rgb(81, 139, 33);
}
.go_to_up{
    border:5px solid;
    color: BlueViolet
   
}
.icon{
    display: block;
    margin-left: auto;
    margin-right: auto
}

